ul.tabbed-code-selector {
    margin-bottom: 0 !important;
    position: relative;
    bottom: -12px;
    list-style-type: none;
    display: inline-flex;
}

ul.tabbed-code-selector li {
    text-transform: capitalize;
    display: block;
    cursor: pointer;
    font-weight: bold;
    margin: 0 8px 0 0 !important;
    padding: 5px 10px;
    float: left;
    border: 1px solid #e1e4e5;
    background-color: #f5f5f5;
    border-bottom: none;
    color: #646567;
}
ul.tabbed-code-selector li:hover {
    background-color: #ebebeb;
}
ul.tabbed-code-selector li.selected {
    background-color: #fbf97a;
    border-bottom: none;
    color: black;
}

ul.tabbed-code-selector li[class^='highlight'] {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
